pyTelegramBotAPI==4.12.0
python-dotenv
apscheduler             # для ежедневных рассылок и планировщика задач
loguru                 # красивый логгер, легче дебажить ошибки
aiohttp                # если будешь делать асинхронные запросы к API
pydantic               # удобно валидировать данные (например, JSON из API)
stripe                 # если планируешь принимать оплату Stripe
pycryptodome           # если добавишь оплату в крипте
